spring:
  datasource:
    url: ${DB_JDBC_URL:jdbc:postgresql://${DB_HOST}:${DB_PORT}/familie-tilbake}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  flyway:
    placeholders:
      ignoreIfProd: --


oppdrag.mq:
  queuemanager: MPLS02
  kravgrunnlag: QA.P_FAMILIE_TILBAKE.KRAVGRUNNLAG
  channel: P_FAMILIE_TILBAKE
  hostname: mpls02.adeo.no
  port: 1414
  enabled: ${OPPDRAG_MQ_ENABLED:true}

rolle:
  barnetrygd:
    veileder: "199c2b39-e535-4ae8-ac59-8ccbee7991ae"
    saksbehandler: "847e3d72-9dc1-41c3-80ff-f5d4acdd5d46"
    beslutter: "7a271f87-39fb-468b-a9ee-6cf3c070f548"
  enslig:
    veileder: "31778fd8-3b71-4867-8db6-a81235fbe001"
    saksbehandler: "6406aba2-b930-41d3-a85b-dd13731bc974"
    beslutter: "5fcc0e1d-a4c2-49f0-93dc-27c9fea41e54"
  kontantstøtte:
    veileder: "54cd86b8-2e23-48b2-8852-b05b5827bb0f"
    saksbehandler: "e40090eb-c2fb-400e-b412-e9084019a73b"
    beslutter: "4e7f23d9-5db1-45c0-acec-89c86a9ec678"
  teamfamilie:
    forvalter: "3d718ae5-f25e-47a4-b4b3-084a97604c1d"
  prosessering: "87190cf3-b278-457d-8ab7-1a5c55a9edd7" # Gruppen teamfamilie


SECURITYTOKENSERVICE_URL:  https://security-token-service.nais.adeo.no/SecurityTokenServiceProvider/

ainntekt:
  baseUrl: https://arbeid-og-inntekt.prod-fss-pub.nais.io

PDL_URL: https://pdl-api.prod-fss-pub.nais.io
PDL_SCOPE: api://prod-fss.pdl.pdl-api/.default

FAMILIE_INTEGRASJONER_URL: https://familie-integrasjoner.prod-fss-pub.nais.io
FAMILIE_INTEGRASJONER_SCOPE: api://prod-fss.teamfamilie.familie-integrasjoner/.default
FAMILIE_OPPDRAG_URL: https://familie-oppdrag.prod-fss-pub.nais.io
FAMILIE_OPPDRAG_SCOPE: api://prod-fss.teamfamilie.familie-oppdrag/.default
CRON_HÅNDTER_GAMMEL_KRAVGRUNNLAG: 0 0 7 ? * MON-FRI
AUTHORIZATION_URL: https://login.microsoftonline.com/navno.onmicrosoft.com/oauth2/v2.0/authorize
TOKEN_URL: https://login.microsoftonline.com/navno.onmicrosoft.com/oauth2/v2.0/token

kafka:
  hentFagsystem:
    requestTopic: ${KAFKA_HENTFAGSYSTEM_REQUEST_TOPIC:tilbake.privat-tbk-hentfagsystemsbehandling}
    responseTopic: ${KAFKA_HENTFAGSYSTEM_RESPONSE_TOPIC:tilbake.privat-tbk-hentfagsystemsbehandling-svar}
tilbakekreving:
  kravgrunnlag:
    - QA.P_TILLEGGSSTONADER.KRAVGRUNNLAG
    - QA.P_TILBAKEKREVING.KRAVGRUNNLAG
  toggles:
    tilgangsmaskinen-enabled: true
  tilgangsmaskinen:
    scope: api://prod-gcp.tilgangsmaskin.populasjonstilgangskontroll/.default
  tilgangsstyring:
    grupper:
      ts:
        veileder: "0f841c83-0d64-407c-80d5-4eb51dfaee1e"
        saksbehandler: "c1e9edec-0c10-4df2-8c74-324ab9922220"
        beslutter: "224b5097-d0af-462c-8d8e-49c0e8a42661"
      aap:
        veileder: "dc8b0182-1449-445a-833c-1a4620b7c2be" # 0000-GA-AAP_SAKSBEHANDLER_OPPFOLGING
        saksbehandler: "3a65f41a-b3f3-4b1c-830a-df20ff020980" # 0000-GA-AAP_SAKSBEHANDLER_NASJONAL
        beslutter: "5763b52f-f16a-483d-8f40-25be9de95c0a" # 0000-GA-AAP_BESLUTTER
  bigQuery:
    prosjektId: tilbake-prod-d235
    dataset: tilbakekreving_dataset
  kravgrunnlag-mapping:
    569173: xdYwRVATSvaDgXKCh5y9OA==
    564495: FK12N0b8TOCwuZ2IeJeuMw==
  dokarkiv:
    base-url: https://dokarkiv.intern.nav.no
    scope: api://prod-fss.teamdokumenthandtering.dokarkiv/.default
  dokdist:
    base-url: https://dokdistfordeling.prod-fss-pub.nais.io
    scope: api://prod-fss.teamdokumenthandtering.dokdistfordeling/.default
  saf:
    base-url: https://saf.intern.nav.no
    scope: api://prod-fss.teamdokumenthandtering.saf/.default
  norg2:
    base-url: http://norg2.org.svc.cluster.local
    scope: api://prod-gcp.org.norg2/.default
  eregServices:
    base-url: https://ereg-services.intern.nav.no
    scope: api://prod-fss.arbeidsforhold.ereg-services/.default
  entraProxy:
    base-url: http://entra-proxy.sikkerhetstjenesten.svc.cluster.local
    scope: api://prod-gcp.sikkerhetstjenesten.entra-proxy/.default
