
spring:
  datasource:
    url: ${DB_JDBC_URL}


oppdrag.mq:
  queuemanager: MQLS02
  kravgrunnlag: QA.Q1_FAMILIE_TILBAKE.KRAVGRUNNLAG
  channel: Q1_FAMILIE_TILBAKE
  hostname: b27apvl220.preprod.local
  port: 1413
  enabled: true

tilbakekreving:
  frontendUrl: https://tilbakekreving.ansatt.dev.nav.no
  kravgrunnlag:
    - Q1_TILLEGGSSTONADER.KRAVGRUNNLAG
    - Q1_TILBAKEKREVING.KRAVGRUNNLAG
  toggles:
    tilgangsmaskinen-enabled: true
    ny-modell:
      SendVarselbrev: false
      Arkivering: false
  tilgangsstyring:
    grupper:
      ts:
        veileder: ${rolle.enslig.veileder}
        saksbehandler: ${rolle.enslig.saksbehandler}
        beslutter: ${rolle.enslig.beslutter}
      aap:
        veileder: ${rolle.enslig.veileder}
        saksbehandler: ${rolle.enslig.saksbehandler}
        beslutter: ${rolle.enslig.beslutter}
  tilgangsmaskinen:
    scope: api://dev-gcp.tilgangsmaskin.populasjonstilgangskontroll/.default
  bigQuery:
    prosjektId: tilbake-dev-d683
    dataset: tilbakekreving_dataset
  kravgrunnlag-mapping:
    560009: OhdDfXICR4e647w6yUz+1A==
    560314: rjoOGjxOS9SoL3Xhbkqh4g==
    560319: pUmDIEnzQuygaKyHtdWGHA==
    560403: qC21u7phQUaBoW1ZqIJp6Q==
    560405: 4hotv5B+TuKJ/4tjCQiPAw==
    560603: SrTuAq8QQESttCz+a/aUCA==
    560604: 185fm4DMT1aYLOu57vEcbQ==
    560605: 9aAtys7HQeyxNnscWs2uaA==
    560607: 5M6S8XENTSScQeYbAjC4kg==
    560608: hsBJKfDPSe6z0fq9CubGlw==
    560609: q+l/W4fQTy6ymStSpiIq9w==
  dokarkiv:
    base-url: https://dokarkiv-q2.dev-fss-pub.nais.io
    scope: api://dev-fss.teamdokumenthandtering.dokarkiv/.default
  dokdist:
    base-url: https://dokdistfordeling.dev-fss-pub.nais.io
    scope: api://dev-fss.teamdokumenthandtering.dokdistfordeling/.default
  saf:
    base-url: https://saf-q2.dev-fss-pub.nais.io
    scope: api://dev-fss.teamdokumenthandtering.saf/.default
  norg2:
    base-url: https://norg2.dev-fss-pub.nais.io
    scope: api://dev-fss.org.norg2/.default
  eregServices:
    base-url: https://ereg-services-q1.dev-fss-pub.nais.io
    scope: api://dev-fss.arbeidsforhold.ereg-services/.default
  entraProxy:
    base-url: http://entra-proxy.sikkerhetstjenesten.svc.cluster.local
    scope: api://dev-gcp.sikkerhetstjenesten.entra-proxy/.default
rolle:
  barnetrygd:
    veileder: "93a26831-9866-4410-927b-74ff51a9107c"
    saksbehandler: "d21e00a4-969d-4b28-8782-dc818abfae65"
    beslutter: "9449c153-5a1e-44a7-84c6-7cc7a8867233"
  enslig:
    veileder: "19dcbfde-4cdb-4c64-a1ea-ac9802b03339"
    saksbehandler: "ee5e0b5e-454c-4612-b931-1fe363df7c2c"
    beslutter: "01166863-22f1-4e16-9785-d7a05a22df74"
  kontantstøtte:
    veileder: "71f503a2-c28f-4394-a05a-8da263ceca4a"
    saksbehandler: "c7e0b108-7ae6-432c-9ab4-946174c240c0"
    beslutter: "52fe1bef-224f-49df-a40a-29f92d4520f8"
  teamfamilie:
    forvalter: "c62e908a-cf20-4ad0-b7b3-3ff6ca4bf38b"
  prosessering: "928636f4-fd0d-4149-978e-a6fb68bb19de" # 0000-GA-STDAPPS

FAMILIE_INTEGRASJONER_URL: https://familie-integrasjoner.dev-fss-pub.nais.io
FAMILIE_INTEGRASJONER_SCOPE: api://dev-fss.teamfamilie.familie-integrasjoner/.default
FAMILIE_OPPDRAG_URL: https://familie-oppdrag.dev-fss-pub.nais.io
FAMILIE_OPPDRAG_SCOPE: api://dev-fss.teamfamilie.familie-oppdrag/.default
SECURITYTOKENSERVICE_URL: https://api-gw-q1.oera.no/security-token-service/SecurityTokenServiceProvider/

ainntekt:
  baseUrl: https://arbeid-og-inntekt.dev-fss-pub.nais.io

PDL_URL: https://pdl-api.dev-fss-pub.nais.io
PDL_SCOPE: api://dev-fss.pdl.pdl-api/.default
OPPRETTELSE_DAGER_BEGRENSNING: 1
CRON_HÅNDTER_GAMMEL_KRAVGRUNNLAG: 0 10 * ? * MON-FRI
CRON_AUTOMATISK_SAKSBEHANDLING: 0 20 * ? * MON-FRI
CRON_AUTOMATISK_GJENOPPTA: 0 30 * ? * MON-FRI

AUTOMATISK_SAKSBEHANDLING_ALDERGRENSE_BARNETRYGD: 0
AUTOMATISK_SAKSBEHANDLING_ALDERGRENSE_BARNETILSYN: 1
AUTOMATISK_SAKSBEHANDLING_ALDERGRENSE_OVERGANGSSTØNAD: 1
AUTOMATISK_SAKSBEHANDLING_ALDERGRENSE_SKOLEPENGER: 1
AUTOMATISK_SAKSBEHANDLING_ALDERGRENSE_KONTANTSTØTTE: 1
